@import "reset";

$main-font-family: "Open Sans", sans-serif;
$secondary-font-family:  "Francois One", sans-serif;

$main-color: #30a30d;
$main-gray: #f3f3f3;
$main-gray-dark: darken(#f3f3f3, 20);

$priority-color-1: #f75751;
$priority-color-2: #fcb232;
$priority-color-3: #55d347;

$boxpadding: 10px;

$middler: 500px;

html {
	font-family: $main-font-family;
}

body {
	font-size: 0.9em;
	line-height: 1.2em;
}

.card {
	padding: $boxpadding;
	box-shadow: 0 0 2px rgba(0,0,0,.5);

	margin-bottom: 10px;

	position: relative;

	&.priority1,
	&.priority2,
	&.priority3 {
		border-left: 3px solid #fff;
	}
	&.priority1 {
		border-color: $priority-color-1;
	}
	&.priority2 {
		border-color: $priority-color-2;
	}
	&.priority3 {
		border-color: $priority-color-3;
	}

	&.abgelaufen {
		// background: $main-gray;

		.date {
			color: $priority-color-1;
		}
	}

}

h1 {
	font-family: $secondary-font-family;
	color: $main-color;
	font-size: 3em;
	line-height: 1.2em;
}

.small {
	font-size: 0.7em;
	color: $main-gray-dark;
}

.btn {
	border: 0px;

	background: $main-gray-dark;

	padding: 5px 10px;
	border-radius: 3px;

	cursor: pointer;

	transition: .2s all;

	&:hover {
		background: lighten($main-gray-dark, 5); 
	}

	&.btn-hervorgehoben {
		background: $main-color;
		color: #fff;
		font-weight: bold;

		margin-right: 5px;

		&:hover {
			background: darken($main-color, 5); 
		}
	}

	&.btn-ghost {
		background: none;
		border: 1px solid $main-gray-dark;
		color: $main-gray-dark;

		&:hover {
			color: #000;
			border-color: 1px solid #000;
		}

		&.active {
			background: $main-gray-dark;
			color: #000;
		}
	}

	&.btn-small {
		font-size: 0.7em;
		padding: 4px 10px;
		display: none;
	}
}

.grid {
	display: flex;
	flex-flow: row wrap;

	.grelem {
		box-sizing: border-box;
		margin-bottom: 10px;
	}

	.gr-1 {
		width: 25%;
	}
	.gr-2 {
		width: 50%;
	}
	.gr-auto {
		width: auto;
	}

}

.priority {
	font-weight: bold;
	font-size: 1.2em;
	
	span:first-child:nth-last-child(1) {
		color: green;
	}

	span:first-child:nth-last-child(2),
	span:first-child:nth-last-child(2) ~ span {
		color: orange;
	}

	span:first-child:nth-last-child(3),
	span:first-child:nth-last-child(3) ~ span {
		color: red;
	}
}

.lightbox {
	
	background: rgba(255,255,255,.8);

	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;

	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
  	align-items: flex-start;

	.content {
		background: #fff;
		padding: $boxpadding;

		width: $middler;

		box-shadow: 0 0 20px rgba(0,0,0,.1);

	}

}

// Main Styles

header {
	box-shadow: 0 0 5px rgba(0,0,0,.3);

	.logo {
		
		position: relative;
		overflow: hidden;

		display: flex;
		flex-flow: row wrap;
		align-items: center;

		clip-path: polygon(0 0, 52% 5%, 87% 36%, 57% 90%, 0 100%);
		box-shadow: 1px 1px 0 rgba(0,0,0,.4);

		width: 120px;
		height: 100px;

		padding: $boxpadding;

		background: $main-color;
		
		.logocontent {
			.logotext {
				color: #fff;
				font-size: 2em;
				line-height: normal;
				font-weight: bold;
				text-transform: uppercase;
			}

			.logotitle {
				font-size: 0.7em;
				font-weight: normal;
				color: #fff;
			}
		}
	}

	.subheader {
		background: $main-gray;
		padding: $boxpadding/2 $boxpadding;
		display: flex;
		
		margin-top: -50px;
		padding-left: 120px;

		.sub-rechts, .sub-links {
			width: 50%;
		}
		.sub-rechts {

			display: flex;
			justify-content: flex-end;
			align-items: center;

			.designwahl {
				font-size: 0.7em;
			}

		}
	}
}

main {
	padding: $boxpadding* 3 $boxpadding;
}

.filteroptionen {

	display: flex;

	margin-bottom: 10px;

	ul {

		margin-right: $boxpadding*2;

		li {
			margin: 0px;
			padding: 0px;
			display: inline-block;
		}
	}
}

.todo-liste {

}

#todo-entries {
	.todo-entry {
		
		transition: .4s all;

		.triggers {
			
			text-align: right;

			button {
				display: inline-block;
				margin-bottom: 3px;
			}
		}

		&.done {
			
			opacity: .8;

			.priority, .text .longtext, .triggers {
				display: none;
			}

			.date {
				order: 2;
			}

			.text {
				order: 1;

				position: relative;
				padding-left: 15px;
				margin-bottom: 0px;

				&:before, &:after {
					display: block;
					content: "";
					height: 2px;

					background: $main-color;

					position: absolute;
				}

				&:before {
					top: 7px;
					left: 0px;
					width: 15px;
					transform: rotate(-60deg);
				}
				&:after {
					top: 10px;
					left: -2px;
					width: 7px;
					transform: rotate(40deg);
				}
			}
			
		}

		&.doneAnimation {
			// Optionale animation?

			.date {
				display: none;
			}
		}

		> div {
			padding: 0 $boxpadding;
		}
	}
}

/* Form Stylings */

form {
	input, textarea {
		

		background: $main-gray;
		position: relative;
		
		border: 0px;
		border-bottom: 2px solid $main-gray-dark;

		transition: .2s all;

		padding: 5px 10px;
		width: 80%;

		font-family: $main-font-family;

		&:focus {
			outline: 0px;
			border-bottom: 2px solid $main-color;
			color: #000;
		}
	}

	label, 
	.optgroup-desc {
		display: block;
		font-size: 0.8em;
		width: 20%;
	}

	.formrow {
		margin-bottom: 10px;
		display: flex;
	}

	.formrow.optgroup {

		label {
			width: auto;
			margin-right: 20px;
			line-height: 20px;

			display: flex;
			align-items: center;

			cursor: pointer;
		}

		input {
			width: auto;
			display: inline;
			margin-right: 10px;

			position: absolute;
			opacity: 0;
		}

		.priocolor {
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;

			opacity: .3;

			&.prio1 {
				background: $priority-color-1;
			}
			&.prio2 {
				background: $priority-color-2;
			}
			&.prio3 {
				background: $priority-color-3;
			}
		}
		
		label input:focus:checked + .priocolor {
			box-shadow: 0 0 2px rgba(0,0,0,1);
			opacity: 1;
		}

		label input:checked + .priocolor {
			box-shadow: 0 0 2px rgba(0,0,0,.5);
			opacity: .9;

		}

	}

	.submitarea {
		padding-left: 20%;
		margin-top: 40px;
	}
}

// Color Templates

	// Negative

	body.design-negativ {
			
		$neg-dark: #000;
		$neg-dark-brighter: lighten($neg-dark, 10);

		$neg-bright: #fff;
		$neg-bright-dark: darken($neg-bright, 40);
		$neg-bright-darker: darken($neg-bright, 80);
		
		$width-slim: 600px;

		background: $neg-dark;
		color: $neg-bright;
		
		.card {
			background: $neg-dark-brighter;
			border-top: 1px solid #fff;
		}

		header {
			.subheader {
				background: $neg-bright;
			}

		}

	}

	// Girly Mode
	body.design-girly {
		
		$girly-dark: #000;
		$girly-bright: #fbe2ff;
		$girly-main: #e46cf7;

		background: #fff;
		color: $girly-dark;

		padding-bottom: 200px;

		&:after {
			content: "";
			position: fixed;
			bottom: -50px;
			left: -80px;

			width: 300px;
			height: 300px;

			background: url("../../images/unicorn.gif");
			background-size: cover;
		}

		.btn {

			background: $girly-bright;

			&:hover {
				background: lighten($girly-bright, 5); 
			}

			&.btn-hervorgehoben {
				background: $girly-main;

				&:hover {
					background: darken($girly-main, 5); 
				}
			}

			&.btn-ghost {
				background: none;
				border: 1px solid $girly-main;
				color: $girly-main;

				&:hover {
					color: #000;
					border-color: 1px solid #000;
				}

				&.active {
					background: $girly-main;
					color: #fff;
				}
			}

		}
		
		.filteroptionen, .todo-liste  {
			border-color: $girly-bright;
		}


		header {
			.subheader {
				background: $girly-bright;
			}

			.logo {

				background: $girly-main;

			}

		}

	}


@media screen and (max-width: 600px) {
	
	main {
		margin-top: 30px;
	}

	/*

	header {

		position: fixed;
		top: 0px;
		left: 0px;

		width: 100%;

		border: 1px solid red;

		.logo {
			
			position: relative;
			top: 0;

			display: inline-block;
			
			clip-path: none;
			box-shadow: 1px 1px 0 rgba(0,0,0,.4);

			width: auto;
			height: auto;
		
		}

		.subheader {

			width: auto;

			background: $main-gray;

			border: 1px solid red;


			.sub-rechts, .sub-links {
				width: 50%;
			}
			.sub-rechts {

				display: flex;
				justify-content: flex-end;
				align-items: center;

				.designwahl {
					font-size: 0.7em;
				}

			}
		}
	}
	*/


	form {
		input, textarea, label, .optgroup-desc {
			width: 100%;
		}
		.formrow {
			flex-flow: row wrap;
		}
		.submitarea {
			padding-left: 0;
			margin-top: 20px;
		}
	}

	.grid {
		display: flex;
		flex-flow: row wrap;

		.grelem {
			box-sizing: border-box;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0px;
			}
		}

		.gr-1,
		.gr-2 {
			width: 100%;
		}

	}

	#todo-entries {
		.todo-entry {

			.triggers {
				
				text-align: left;
			}
		}
	}
} 